.main{
  display: flex;
  flex-direction: column;
}

.display-board{
   display: flex;
   flex-direction: row;
   margin-left: 20px;
   margin-right: 20px;
}

.header{
  background-color: #fff;
  display: flex; 
  flex-direction: row;
  margin-bottom: 10px;
}

.sm-card{
 width: 350px;
}



